name: Build and test
on: [push, pull_request]
env:
  CI: true
  DO_NOT_TRACK: 1

jobs:
  build:
    name: on Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22, 24]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          node-version: ${{ matrix.node }}

      - name: Lint
        run: pnpm run lint

      - name: Test
        run: pnpm run test:ci